@font-face {
    font-family: "SR";
    src: url("fonts/SinchonRhapsodyTTF-ExtraBold.ttf");
    font-weight: normal;
    font-display: swap;
}

/* 태블릿 화면 크기 (뷰포트 크기) */
:root {
    --vw: 712px;
    --vh: 1138px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#main {
    position: relative;
    margin: 0 0;
    width: var(--vw);
    height: var(--vh);
    background-image: url(images/bg0.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: azure;
}

#score {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "SR";
    font-size: 40px;
    text-align: center;
    color: #000;
    background-color: rgba(255, 0, 0, 0.3);
}

#gameover {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--vw);
    height: var(--vh);
    background-color: #000;
    opacity: 0.0;
    transition: 0.3s;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}