* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 712px;
    height: 1138px;
    background-color: azure;
}

#score {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    color: #000;
    background-color: #f00;
}